#outer {
    width: 600px;
    margin: 0 auto;
}

.idea {
    padding: 5px;
}

.idea .idea {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.idea .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.idea .selected {
    background-color: green;
}

.idea .selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.details

.none {
    color: #777;
}
